In [ ]:
1. Write an SQL query to retrieve the names and email addresses of all employees from a table named "Employees".

In [ ]:
SELECT `name`, `email` 
FROM `Employees`;

2. Write an SQL query to filter records from a table named "Customers" where the "City" column is 'New York'.

In [ ]:
SELECT * 
FROM Customers 
WHERE City = 'New York';

3. Write an SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users".

In [ ]:
select * from Users order by DateOfBirth desc;

4. Write an SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users".

In [ ]:
select * from Users order by RegistrationDate;

5. Write an SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary.

In [ ]:
select name, position,  salary
from Employees
order by salary desc limit 1;

6. Write an SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'.

In [ ]:
select *
from Customers 
where  Phone like '+1-___-___-____';

##### 7. Write an SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts.

In [ ]:
select name,sum(purchase_amount) as total_purchase_amount from Orders group by name order by total_purchase_amount desc limit 5;

8. Write an SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales.

In [ ]:

with cte as 
(select category_name,sum(sales) total_sales_per_category from query  group by category_name),
cte2 as (select sum(sales) total_sales from query)
select category_name, total_sales_per_category,100* cast  (total_sales_per_category as numeric) / total_sales::numeric as percentage_total_sales  from cte cross join cte2 ;

9. Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount.

In [ ]:
with cte as (select distinct customer_name, email, addresses,sum(purchases) over (partition by names  ) as total_purchases from Orders)
    select distinct customer_name, email, addresses,max(total_purchases) over (partition by names  )  from cte  ;